<form>
  <p>
    <label for="name">name</label>
    <input type="text" name="name" id="name">
  </p>
  <p>
    <label for="age">age</label>
    <input type="number" name="age" id="age">
  </p>
  <button id="register">Register</button>
</form>
<form>
  <p>
    <label for="lname">name</label>
    <input type="text" name="lname" id="lname">
  </p>
  <button id="login">Login</button>
</form>

<script src="./login.js"></script>
